.image {
  width: 200px;
  padding: 2%;
  float: left;
}

.card-img-top {
  background-size: cover;
  background-position: center;
}

.imagemegyeri {
  padding: 2%;
  float: left;
  width: 350px;
}

a {
  color: #095256;
  text-decoration: none;
}

h4 {
  font-weight: lighter;
  padding-bottom: 2%;
}

.container.textbox {
  margin-bottom: 0%;
}

.card-img-top {
  height: 150px;
}

h4 {
  color: #474849;
}

.card-title {
  color: #474849;
}

.title {
  color: #095256;
  text-align: left;
  font-size: 25px;
  display: inline-block;
  font-weight: 600;
  padding-bottom: 2%;
}

@media (max-width: 768px) {
  .custom-box {
    flex: row;
    width: 100%;
  }

  .imagemegyeri {
    padding: 2%;
    float: none;
    width: 400px;
  }

  .row.row-cols-1.row-cols-md-6.g-4 > .col {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card-img-top {
    height: 150px;
    width: 200px;
  }

  .card {
    width: 200px;
    margin-bottom: 7%;
  }

  .container.textbox {
    width: 90%;
    padding: 5%;
  }

  .container {
    padding: 0px;
    width: 90%;
    margin-bottom: 5px;
  }

  .mobile-view {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
