.contact-info div {
  display: flex;
  padding: 2.5%;
  margin-left: 5%;
}

h4 {
  border-bottom: 1px solid white;
  padding: 5%;
}

.icon {
  margin-right: 2.5%;
}

.container {
  margin-top: 5%;
}

.subtitle {
  font-size: 25px;
}

.icon {
  color: #095256;
}
