<app-map></app-map>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="custom-box d-flex flex-column align-self-start contact-info">
        <h4>Herman Ottó kollégium „A” épület</h4>
        <div>
          <mat-icon class="icon">location_on</mat-icon>
          <span>Szeged, Temesvári krt. 50-52. 6726</span>
        </div>
        <div>
          <mat-icon class="icon">mail</mat-icon>
          <span>iroda@ohsh.u-szeged.hu</span>
        </div>
        <div>
          <mat-icon class="icon">phone</mat-icon>
          <span>Porta: +36 62 544 309</span>
        </div>
        <div>
          <mat-icon class="icon">phone</mat-icon>
          <span>Iroda: +36 62 544 311</span>
        </div>
        <div>
          <mat-icon class="icon">phone</mat-icon>
          <span>Gondnokság: +36 62 544 310/304</span>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="custom-box d-flex flex-column align-self-start contact-info">
        <h4>Herman Ottó kollégium „B” épület</h4>
        <div>
          <mat-icon class="icon">location_on</mat-icon>
          <span>Szeged, Fürj utca 51.6726</span>
        </div>
        <div>
          <mat-icon class="icon">mail</mat-icon>
          <span>iroda@ohsh.u-szeged.hu</span>
        </div>
        <div>
          <mat-icon class="icon">phone</mat-icon>
          <span>Telefon: +36 62 544-310/301</span>
        </div>
      </div>
    </div>
  </div>
</div>
