<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="subtitle">SZOBÁK ÉS KÖZÖS HELYSÉGEK</h1>
      <p>
        A "B" épületben összesen 50 fő lakhat, az itt található szobák pedig
        két-két fősek. A szobák 14m2-esek, és 2 darab két fős szoba osztozik egy
        közös tanulóhelyiségen. Ebben a közös tanulóhelyiségben 4 fő számára
        található asztal, hálózati végpont, asztali lámpa, polc és mosdókagyló.
        A lakószobában fejenként 1 darab ágy, 1 vállfás és 1 polcos szekrény
        található. Beköltözéskor igény szerint fejenként 1 darab hosszabbító,
        ágynemű és pléd is kérhető. Folyosófelelősöktől még kérhető porszívó,
        vasaló, vasalódeszka és ruhaszárító. Az épület földszintjén 7, az
        emeleten pedig 10 szoba található. A földszinten található egy közös
        konyha, melyben 2 tűzhely, 7 főzőlap, egy asztal, székek, egy mikró és
        egy polc található. Van még egy mosókonyha 1 darab mosógéppel, vasalóval
        és ruhaszárítókkal. A mosógép használata térítésmentes, a mosó füzet
        vezetésével és kulcs elkérésével használható. Mindkét szinten található
        női és férfi fürdőszoba, 2 darab wc-vel és 2 darab zuhanyzóval. A
        földszinten továbbá tanulószoba is található, mely alkalmi közösségi
        programok helyszínéül is szolgál.
      </p>
    </div>
    <div class="col-md-6">
      <app-slideshow [images]="firstSlideshowImages"></app-slideshow>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-slideshow [images]="secondSlideshowImages"></app-slideshow>
    </div>
    <div class="col-md-6">
      <h1 class="subtitle">VENDÉGFOGADÁS ÉS KÖZÖSSÉGI ESEMÉNYEK</h1>
      <p>
        Az épület portaszolgálata hétköznapokon 12 óráig van jelen, utána senior
        ügyelet lép életbe. Az itt lakók belépőkártyával jutnak be az épületbe.
        Vendégkönyvbe történő bevezetést követően bárki behozhat vendéget a
        kollégiumba. Az udvarban egy kosárpalánk található, és a közelben van a
        töltés és az Erzsébet liget, melyek kiváló sportolási lehetőséget
        biztosítanak. Önszervező alapon, igény szerint vannak közösségi
        programok rendezve, mint például teaház és társasjáték est.
      </p>
    </div>
  </div>
</div>
