.subtitle {
  color: #095256; /* Szöveg színe, itt fehér */
  text-align: left;
  font-size: 35px;
  display: inline-block;
  font-weight: 600;
  padding-bottom: 2%;
}

a {
  color: #095256;
}

.center {
  max-width: 90%;
  max-height: 90%;
  display: block;
  padding: 2.5%;
}
