.comment-container {
  padding: 5%;
  padding-bottom: 1%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow-wrap: break-word;
  word-break: break-word;
}

.comment {
  color: #474849;
  font-size: 17px;
}

.pagination .page-link {
  color: #095256;
}

.name {
  font-size: 21px;
  font-weight: normal;
  padding: 10px 0;
  top: 0;
  text-align: center;
  color: #095256;
  overflow-wrap: break-word;
  word-break: break-word;
}

.date-border {
  color: rgb(129, 132, 132);
  border-top: 2px solid #474849a1;
  padding: 15px 0;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.inputs {
  width: 500px;
}

@media (max-width: 768px) {
  .card-container {
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5%;
  }

  .comment-container {
    display: block;
  }

  .name {
    font-size: 20px;
    text-align: left;
  }

  .comment {
    font-size: 16px;
  }

  .inputs {
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}
