<div class="container textbox">
  <div class="d-flex flex-column">
    <p class="align-self-start">
      Az első emeleten három vendéglakást is kialakítottak a tervezők. Ezek
      berendezett konyhás, fűrdőszobás, 1+félszobás apartmanok tévével,
      universitas telefonokkal, internet kapcsolattal.
    </p>
  </div>
</div>
<div class="container textbox">
  <div class="d-flex flex-column">
    <h1>Universitas számok</h1>
    <ul>
      <li>Porta: 4309</li>
      <li>Iroda: 4311</li>
      <li>II. emelet: 3302</li>
      <li>III. emelet: 3303</li>
      <li>IV. emelet: 3304</li>
      <li>V. emelet: 3305</li>
      <li>VI. emelet: 3306</li>
      <li>VII. emelet: 3307</li>
      <li>VIII. emelet: 3888</li>
      <li>IX. emelet: 3309</li>
    </ul>
  </div>
</div>
