.mat-toolbar {
  background-color: #095256f3;
  color: white;
  font-size: 18px;
  top: 0;
  z-index: 100;
  position: sticky;
}

.mat-toolbar a {
  text-decoration: none;
}

.button-container {
  margin-left: 50px;
}

.menu-icon {
  display: none;
}

.menu-items {
  display: flex;
  padding-left: 0.5%;
  gap: 25px;
}

.button-mobile {
  border: none;
}

.menu-items-mobile {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin-top: -5%;
  margin-bottom: -5%;
}

.link {
  text-decoration: none;
}

.mobile-item {
  display: none;
}

@media (max-width: 1500px) {
  .mobile-item {
    display: flex;
  }
  .menu-items-mobile {
    display: flex;
  }
  .menu-items {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .icon {
    margin-left: 50px;
  }

  a {
    text-decoration: none;
    color: #1e1e23;
    opacity: 1;
    font-weight: lighter;
    transition: 200ms;
  }
  a:hover {
    opacity: 0.5;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383f;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 200px;
    height: 600px;
    box-shadow: 0 0 10px #85888c;
    border-radius: 5px;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #fbfbfb;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    transition-delay: 2s;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
