<app-header></app-header>
<div class="xy">
  <p>ITT LESZ EGY SLIDESHOW</p>
  <br />
  <h1>:: Köszöntő</h1>
  <div class="text">
    Örömmel köszöntöm a Herman Ottó Kollégium virtuális lakójaként, és
    élményekben gazdag barangolást kívánok. 1972 március elején átadták az
    ország első, házaspárokat is fogadó diákotthont. 1989-ig a József Attila
    Tudományegyetem Természettudományi kar báziskollégiumaként, 1999-ig három,
    majd ezután négy kar hallgatóinak helyet adó karközi kollégiumként működik.
    A diákotthon, a jó közösségi életnek köszönhetően 1974-ben kollégium lett,
    majd 1979-és 1984-ben „Kiváló Kollégium” címet adományozott az OFKB,
    1999-ben pedig az „Év Kollégiuma” díjat nyerte. 1997-től bővölt a Fürj u.-i
    épülettel, ami ma már különálló kollégiumként működik. Itt kapott helyet a
    Társadalomtudományi Szakkollégium is. A Kollégiumi Bizottság létrehozta a
    Herman Ottó Diákegyesületet (HODIE), hogy a nehéz helyzetű, tehetséges
    hallgatókat támogassa, tudományos, szakmai, közösségteremtő, kulturális és
    sportprogramok szervezését elősegítse. Az öntevékeny csoportok, melyek
    biztosítják a színes, mozgalmas életteli kollégiumot, a seniorok felügyelete
    mellett végzik tevékenységüket. Nyáron szállodaként működünk, de helyet
    biztosítunk a terepgyakorlaton, vagy kutatásban résztvevő hallgatóknak is. A
    honlapunkon remélem minden információt megtalál, ha viszont kérdése,
    észrevétele lenne, megteheti a vendégkönyvben.
  </div>
  <p>ITT MEG VÉLEMÉNYEK</p>
  <br />
</div>
<app-footer></app-footer>
