.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* A footer fix pozícióban lesz */
  left: 0;
  bottom: 0;
  width: 100%; /* Teljes szélességű lesz */
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 30px;
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  color: white;
  border-radius: 50%;
  text-decoration: none;
}

.social-links .social-icon {
  font-size: 18px;
}

.footer-text {
  color: white;
  text-align: center;
  font-size: 10px;
}

/* footer.component.css */
/* ... */

/* Új CSS szabályok a mobil nézethez */
@media (max-width: 768px) {
  .footer-container {
    padding-top: 20px; /* Növeljük a padding-ot a mobil nézetben */
  }

  .contact-position {
    flex-direction: column; /* A contact sávok oszlopokba rendeződnek mobil nézetben */
  }

  .contact-column {
    margin: 10px 0; /* Csökkentsük a sávok közötti térközt mobil nézetben */
  }

  .social-links {
    font-size: 24px; /* Csökkentsük az ikonok méretét mobil nézetben */
  }

  .footer-text {
    font-size: 12px; /* Csökkentsük a szöveg méretét mobil nézetben */
  }
}
