.card {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;

  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
}

.form {
  width: 300px;
}

.subtitle {
  padding-top: 5%;
}
