<app-headerForStudents></app-headerForStudents>
<div class="container">
  <h1 class="subtitle">INFORMÁCIÓK</h1>
  <br />
  <h3 class="subtitle">KOLLÉGIUMI BIZOTTSÁG</h3>
  <p>
    A kollégium irányítása a kollégiumi igazgató és a kollégium önkormányzati
    szervei között megosztott hatáskörök gyakorlása útján történik. Az
    önkormányzat szervei: Kollégiumi Közgyűlés és a Kollégiumi Bizottság. A
    Kollégiumi Bizottság a kollégiumi önkormányzat irányító és végrehajtó
    szerve. Munkáját a titkár irányítja. A Kollégiumi Bizottságról is rendelkező
    Szervezeti Működési Szabályzatban (SZMSZ) a 3-5. §-ban találhattok fontos és
    hasznos információkat a testület választásáról, tagjai számáról,
    feladatköréről, ülései rendjéről stb. Az igazán fontos tudnivalókat azonban
    nem a szabályzatok rejtik, hanem azoknak az embereknek a személyisége, akik
    a mindenkori Kollégiumi Bizottság tagjai. Ennek a kis bemutatónak az lenne a
    feladata, hogy közelebbről megismertesse veletek azt a kis csapatot akik
    (minden évben tagjaik személyében megújulva) viselik a Kollégiumi Bizottsági
    tag kitüntető címet.
  </p>
  <p class="strong">
    2023/2024 tanévben az SZTE Herman Ottó Kollégium Kollégiumi Bizottsága a
    következő tagokból áll:
  </p>
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>Buzás Szilárd</span>
      <span matListItemLine
        >Kollégiumunk igazgatója, a Kollégiumi Bizottság állandó tagja</span
      >
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Szabó Gabriella</span>
      <span matListItemLine>Kollégiumi Bizottság titkára</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Daróczi Áron</span>
      <span matListItemLine>Kommunikációért felelős bizottsági tag</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Flaisz Anna</span>
      <span matListItemLine>Külső rendezvényekért felelős bizottsági tag</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Gál Zsombor</span>
      <span matListItemLine>Sportért felelős bizottsági tag</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Kohányi Attila</span>
      <span matListItemLine>Külkapcsolatokért felelős bizottsági tag</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Szedlár Krisztina</span>
      <span matListItemLine>Belső rendezvényekért felelős bizottsági tag</span>
    </mat-list-item>
  </mat-list>
  <br />
  <p class="strong">
    2023/2024 tanévben az SZTE Herman Ottó Kollégium Seniorjai:
  </p>
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>Ancsin Réka</span>
      <span matListItemLine>Kultúráért és könyvtárért felelős senior</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Zelenyánszki Anna</span>
      <span matListItemLine>Pályazatokért és egyesületért felelős senior</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Tömördi Péter</span>
      <span matListItemLine>Informatikáért felelős senior</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Rózsa Dávid</span>
      <span matListItemLine>Hallgatói adminisztrációért felelős senior</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Máté Zalán</span>
      <span matListItemLine>Sportért felelős senior</span>
    </mat-list-item>
  </mat-list>
</div>
