.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}

.form-full-width {
  width: 100%;
}

h2 {
  padding: 5%;
  background-color: #095256;
  font-weight: lighter;
}

.button-container {
  display: flex;
  justify-content: center; /* Középre igazítás vízszintesen */
  gap: 10px; /* Távolság a gombok között */
}
