<body class="mat-typography theme-alternate">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 mb-3">
        <div class="custom-box d-flex flex-column align-items-center">
          <h1 class="align-self-start">Szabályzat</h1>
          <h3>Herman Ottó Kollégium Szervezeti és Működési Szabályzat</h3>
          <ul>
            <li>
              <mat-checkbox color="primary"
                >letöltés doc formátumban (119 KB)</mat-checkbox
              >
            </li>
            <li>
              <mat-checkbox color="primary"
                >letöltés pdf formátumban (88,4 KB)</mat-checkbox
              >
            </li>
          </ul>

          <h3>
            A koronavírus elleni védekezés érdekében hozott rendkívüli
            eljárásrend
          </h3>
          <ul>
            <li>
              <mat-checkbox color="primary"
                >letöltés pdf formátumban (298 KB)</mat-checkbox
              >
            </li>
          </ul>

          <button mat-raised-button color="primary">Letöltés</button>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="custom-box d-flex flex-column align-items-center">
          <h1 class="align-self-start">„A” épület</h1>
          <h2>Általános tudnivalók</h2>
          <ul>
            <li>
              <mat-checkbox color="primary"
                >letöltés doc formátumban (28 KB)</mat-checkbox
              >
            </li>
            <li>
              <mat-checkbox color="primary"
                >letöltés pdf formátumban (24 KB)</mat-checkbox
              >
            </li>
          </ul>
          <h2>Házirend</h2>
          <ul>
            <li>
              <mat-checkbox color="primary"
                >letöltés doc formátumban (26 KB)</mat-checkbox
              >
            </li>
            <li>
              <mat-checkbox color="primary"
                >letöltés pdf formátumban (22,5 KB)</mat-checkbox
              >
            </li>
          </ul>

          <button mat-raised-button color="primary">Letöltés</button>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="custom-box d-flex flex-column align-items-center">
          <h1 class="align-self-start">„B” épület</h1>
          <h2>Általános tudnivalók</h2>
          <ul>
            <li>
              <mat-checkbox color="primary"
                >letöltés doc formátumban (28 KB)</mat-checkbox
              >
            </li>
            <li>
              <mat-checkbox color="primary"
                >letöltés pdf formátumban (23,8 KB)</mat-checkbox
              >
            </li>
          </ul>
          <h2>Házirend</h2>
          <ul>
            <li>
              <mat-checkbox color="primary"
                >letöltés doc formátumban (23,5 KB)</mat-checkbox
              >
            </li>
            <li>
              <mat-checkbox color="primary">
                letöltés pdf formátumban (21,5 KB)</mat-checkbox
              >
            </li>
          </ul>

          <button mat-raised-button color="primary">Letöltés</button>
        </div>
      </div>
    </div>
  </div>
</body>
