<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 mb-3">
      <div class="custom-box d-flex flex-column align-items-center">
        <h1 class="align-self-start">Szabályzat</h1>
        <h4>Herman Ottó Kollégium Szervezeti és Működési Szabályzat</h4>
        <ul>
          <li class="form-check form-switch form-check-reverse">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >letöltés doc formátumban (119 KB)</label
            >
          </li>
          <li class="form-check form-switch form-check-reverse">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >letöltés pdf formátumban (88,4 KB)</label
            >
          </li>
        </ul>

        <h4>
          A koronavírus elleni védekezés érdekében hozott rendkívüli eljárásrend
        </h4>
        <ul>
          <li class="form-check form-switch form-check-reverse">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >letöltés pdf formátumban (298 KB)</label
            >
          </li>
        </ul>
        <button type="button" class="btn btn-outline-light">Letöltés</button>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="custom-box d-flex flex-column align-items-center">
        <h1 class="align-self-start">„A” épület</h1>
        <h2>Általános tudnivalók</h2>
        <ul>
          <li class="form-check form-switch form-check-reverse">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >letöltés doc formátumban (28 KB)</label
            >
          </li>
          <li class="form-check form-switch form-check-reverse">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >letöltés pdf formátumban (24 KB)</label
            >
          </li>
        </ul>
        <h2>Házirend</h2>
        <ul>
          <li class="form-check form-switch form-check-reverse">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >letöltés doc formátumban (26 KB)</label
            >
          </li>
          <li class="form-check form-switch form-check-reverse">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >letöltés pdf formátumban (22,5 KB)</label
            >
          </li>
        </ul>
        <button type="button" class="btn btn-outline-light">Letöltés</button>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="custom-box d-flex flex-column align-items-center">
        <h1 class="align-self-start">„B” épület</h1>
        <h2>Általános tudnivalók</h2>
        <ul>
          <li class="form-check form-switch form-check-reverse">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >letöltés doc formátumban (28 KB)</label
            >
          </li>
          <li class="form-check form-switch form-check-reverse">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >letöltés pdf formátumban (23,8 KB)</label
            >
          </li>
        </ul>
        <h2>Házirend</h2>
        <ul>
          <li class="form-check form-switch form-check-reverse">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >letöltés doc formátumban (23,5 KB)</label
            >
          </li>
          <li class="form-check form-switch form-check-reverse">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >letöltés pdf formátumban (21,5 KB)</label
            >
          </li>
        </ul>
        <button type="button" class="btn btn-outline-light">Letöltés</button>
      </div>
    </div>
  </div>
</div>
