<app-header></app-header>
<div class="container">
  <h1 class="subtitle">SZABÁLYZAT</h1>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            Herman Ottó Kollégium szervezeti és működési szabályzata
          </h5>
          <ul class="card-text">
            <li>
              <a
                href="/assets/herman_otto_szmsz.doc"
                download="herman_otto_szmsz.doc"
                >letöltés doc formátumban (119 KB)</a
              >
            </li>
            <li>
              <a
                href="/assets/herman_otto_szmsz.pdf"
                download="herman_otto_szmsz.pdf"
                >letöltés pdf formátumban (88.4 KB)</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            A koronavírus elleni védekezés érdekében hozott rendkívüli
            eljárásrend
          </h5>
          <ul class="card-text">
            <li>
              <a href="/assets/covid_hazirend.pdf" download="covid_hazirend.pdf"
                >letöltés pdf formátumban (298 KB)</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">"A" épület - általános tudnivalók</h5>
          <ul class="card-text">
            <li>
              <a
                href="/assets/altalanos_tudnivalok_a.doc"
                download="altalanos_tudnivalok_a.doc"
                >letöltés doc formátumban (28 KB)</a
              >
            </li>
            <li>
              <a
                href="/assets/altalanos_tudnivalok_a.pdf"
                download="altalanos_tudnivalok_a.pdf"
                >letöltés pdf formátumban (24 KB)</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">"A" épület - házirend</h5>
          <ul class="card-text">
            <li>
              <a href="/assets/hazirend_a.doc" download="hazirend_a.doc"
                >letöltés doc formátumban (26 KB)</a
              >
            </li>
            <li>
              <a href="/assets/hazirend_a.pdf" download="hazirend_a.pdf"
                >letöltés pdf formátumban (22.5 KB)</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">"B" épület - általános tudnivalók</h5>
          <ul class="card-text">
            <li>
              <a
                href="/assets/altalanos_tudnivalok_b.doc"
                download="altalanos_tudnivalok_b.doc"
                >letöltés doc formátumban (28 KB)</a
              >
            </li>
            <li>
              <a
                href="/assets/altalanos_tudnivalok_b.pdf"
                download="altalanos_tudnivalok_b.pdf"
                >letöltés pdf formátumban (23.8 KB)</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">"B" épület - házirend</h5>
          <ul class="card-text">
            <li>
              <a href="/assets/hazirend_b.doc" download="hazirend_b.doc"
                >letöltés doc formátumban (23.5 KB)</a
              >
            </li>
            <li>
              <a href="/assets/hazirend_b.pdf" download="hazirend_b.pdf"
                >letöltés pdf formátumban (21.5 KB)</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Informatikai infrastruktúra szabályzata</h5>
          <ul class="card-text">
            <li>
              <a
                href="/assets/SZTE_HO_halozatiszmsz.doc"
                download="SZTE_HO_halozatiszmsz.doc"
                >letöltés doc formátumban (390 KB)</a
              >
            </li>
            <li>
              <a
                href="/assets/SZTE_HO_halozatiszmsz.pdf"
                download="SZTE_HO_halozatiszmsz.pdf"
                >letöltés pdf formátumban (445 KB)</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            Informatikai infrastruktúra szabályzata - 2. számú melléklet -
            Herman Wifi
          </h5>
          <ul class="card-text">
            <li>
              <a
                href="/assets/SZTE_HO_halozatiszmsz_WIFI.pdf"
                download="SZTE_HO_halozatiszmsz_WIFI.pdf"
                >letöltés pdf formátumban (101 KB)</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
