<div class="main-container">
  <img src="\assets\img2.jpg" class="mainpic" />
  <div class="overlay-text">
    <img src="\assets\logo.png" height="500px" />
  </div>
  <div class="bottom-bar"></div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="custom-box d-flex flex-column align-self-start">
      <h1 class="subtitle">ÜDVÖZÖLLEK KEDVES LÁTOGATÓ!</h1>
      <p class="align-self-start welcome">
        Örömmel köszöntöm a Herman Ottó Kollégium virtuális lakójaként, és
        élményekben gazdag barangolást kívánok. 1972 március elején átadták az
        ország első, házaspárokat is fogadó diákotthont. 1989-ig a József Attila
        Tudományegyetem Természettudományi kar báziskollégiumaként, 1999-ig
        három, majd ezután négy kar hallgatóinak helyet adó karközi
        kollégiumként működik. A diákotthon, a jó közösségi életnek köszönhetően
        1974-ben kollégium lett, majd 1979-és 1984-ben „Kiváló Kollégium” címet
        adományozott az OFKB, 1999-ben pedig az „Év Kollégiuma” díjat nyerte.
        1997-től bővölt a Fürj u.-i épülettel, ami ma már különálló
        kollégiumként működik. Itt kapott helyet a Társadalomtudományi
        Szakkollégium is. A Kollégiumi Bizottság létrehozta a Herman Ottó
        Diákegyesületet (HODIE), hogy a nehéz helyzetű, tehetséges hallgatókat
        támogassa, tudományos, szakmai, közösségteremtő, kulturális és
        sportprogramok szervezését elősegítse. Az öntevékeny csoportok, melyek
        biztosítják a színes, mozgalmas életteli kollégiumot, a seniorok
        felügyelete mellett végzik tevékenységüket. Nyáron szállodaként
        működünk, de helyet biztosítunk a terepgyakorlaton, vagy kutatásban
        résztvevő hallgatóknak is. A honlapunkon remélem minden információt
        megtalál, ha viszont kérdése, észrevétele lenne, megteheti email címen
        keresztül.
      </p>

      <p class="welc welcome">Buzás Szilárd kollégium igazgató</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <h1 class="subtitle">MIT KERESEL?</h1>
      <ul>
        <li>
          <mat-icon class="icon"> history_edu</mat-icon> Szeretnél többet tudni
          a kollégium történetéről, megtudni ki volt Herman Ottó?
          <a mat-icon-button href="/kollegiumrol" class="goto"
            ><mat-icon>arrow_forward</mat-icon></a
          >
        </li>
        <li>
          <mat-icon class="icon"> description</mat-icon> Kollégista vagy és a
          szabályzatot keresed?
          <a mat-icon-button href="/hallgatoknak" class="goto"
            ><mat-icon>arrow_forward</mat-icon></a
          >
        </li>
        <li>
          <mat-icon class="icon">apartment</mat-icon> Kollégiumot keresel és
          érdekel az "A" épületünk?
          <a mat-icon-button href="/a-epulet" class="goto"
            ><mat-icon>arrow_forward</mat-icon></a
          >
        </li>
        <li>
          <mat-icon class="icon">villa</mat-icon> Kollégiumot keresel és érdekel
          a "B" épületünk?
          <a mat-icon-button href="/b-epulet" class="goto"
            ><mat-icon>arrow_forward</mat-icon></a
          >
        </li>
        <li>
          <mat-icon class="icon">night_shelter</mat-icon> Lakást keresel még
          Szegeden vagy?<a mat-icon-button href="/szolgaltatasok" class="goto"
            ><mat-icon>arrow_forward</mat-icon></a
          >
        </li>

        <li>
          <mat-icon class="icon">help</mat-icon> Kérdésed van, vagy nem tudod
          hol kell jelentkezned a kollégiumba?
          <a mat-icon-button href="/gyakorikerdesek" class="goto"
            ><mat-icon>arrow_forward</mat-icon></a
          >
        </li>
        <li>
          <mat-icon class="icon">chat</mat-icon> Fel vennéd velünk a
          kapcsolatot, vagy nem találsz minket?
          <a mat-icon-button href="/kapcsolat" class="goto"
            ><mat-icon>arrow_forward</mat-icon></a
          >
        </li>
      </ul>
    </div>

    <div class="col-md-6 mb-4">
      <div class="custom-box lex-column align-self">
        <h1 class="subtitle">VÁRÓLISTA INFORMÁCIÓK</h1>
        <p>
          Kedves Hallgatók! Aki a rendes felvételi eljárásban nem nyert
          felvételt, de mégis szeretne a 2020/2021-as tanév folyamán a
          kollégiumunkban lakni, jelentkezhet VÁRÓLISTÁRA. Mindenképpen érdemes
          ezzel a lehetőséggel élni, hiszen a kollégiumokban - már
          félévkezdettől – folyamatos a mozgás (évhalasztások, külföldi
          ösztöndíjasok, kiköltözések, stb.) Várólistára jelentkezni a következő
          módon lehet:
        </p>
        <ol>
          <li>
            A kollégiumunk honlapjáról letöltöd és kinyomtatod a kollégiumi
            adatlapot és a nyilatkozatot.
          </li>
          <li>A nyomtatványokat hiánytalanul kitöltöd.</li>
          <li>A szükséges igazolásokat csatolod.</li>
          <li>
            A SZTE Herman Ottó Kollégium Igazgatóságán leadod, vagy bescannelve
            (fontos, hogy ne fénykép, hanem scannelt formátum legyen) elküldöd
            az adminisztracio@ohsh.u-szeged.hu címre.
          </li>
          <li>Amikor felvételt nyertél, e-mailben és telefonon értesítünk.</li>
        </ol>

        <ul>
          <li>Letölthető dokumentumok felsőbbéves hallgatóknak:</li>
          <a>Link</a>
          <li>Letölthető dokumentumok elsőéves hallgatóknak:</li>
          <a>Link</a>
        </ul>

        <p class="welc">Adatlap Nyilatkozat Adminisztrációért felelős senior</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1 class="subtitle">KOLLÉGISTÁINK VÉLEMÉNYEI</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 align-items-center">
        <img src="assets/w.jpg" class="card-img-top" height="80px" />
        <img src="assets/urban_janos.jpg" class="img-fluid prof-pic" />
        <div class="card-body">
          <h5 class="card-title">Urbán János</h5>
          <p class="card-text">
            {{ texturban }}
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 align-items-center">
        <img
          src="assets/w.jpg"
          class="card-img-top"
          alt="Palm Springs Road"
          height="80px"
        />
        <img src="assets/szakacs_reka.jpg" class="img-fluid prof-pic" />
        <div class="card-body">
          <h5 class="card-title">Szakács Réka</h5>
          <p class="card-text">
            {{ textszakacs }}
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 align-items-center">
        <img
          src="assets/w.jpg"
          class="card-img-top"
          alt="Palm Springs Road"
          height="80px"
        />
        <img src="assets/dummy.png" class="prof-pic" />
        <div class="card-body">
          <h5 class="card-title">Teszt Elek</h5>
          <p class="card-text">
            {{ textdummy }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
