.prof-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -15%;
}

a {
  color: #095256;
  text-decoration: none;
}

.container {
  margin-top: 2.5%;
}
ul {
  list-style-type: none;
}

.none {
  list-style-type: none;
  margin-left: -5%;
  color: #474849;
}

.card-title {
  text-align: center;
  font-weight: normal;
}

li {
  padding: 0.5%;
  color: #474849;
}
.news {
  font-size: large;
  position: relative;
  width: 65%;
  left: 20%;
  top: 60%;
  z-index: 1;
  overflow: hidden;
}

.main-container {
  position: relative;
  width: 100%;
  max-width: 100%;
}
.main-container .mainpic {
  width: 100%;
  height: 700px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(-1 * var(--mat-toolbar-standard-height));
}

@media (max-width: 599px) {
  .main-container .mainpic {
    margin-top: calc(-1 * var(--mat-toolbar-mobile-height));
  }
}

.overlay-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: large;
  z-index: 2;
  width: 100%;
}

#mainLogo {
  max-width: 100%;
  max-height: 500px;
}

.bottom-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay-text p {
  color: white;
  font-size: 60px;
  white-space: nowrap;
  margin: 0;
}

.welcome {
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.image-container {
  position: relative;
}

.icon {
  padding-right: 7%;
  padding-left: 2%;
  color: #095256;
  transform: scale(1.2);
}

.card-title {
  color: #474849;
}

.pic-subtitle {
  color: black;
  padding: 25px;
  text-align: left;
  width: fit-content;
  margin-left: 60%;
  display: inline-block;
  font-size: 20px;
  white-space: nowrap;
  font-style: italic;
  font-weight: lighter;
}

.pic {
  margin-top: 5%;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.text-wrapper {
  padding: 20px;
  margin-left: 10px;
}

.waitlist {
  font-size: large;
  position: relative;
  align-self: flex-end;
  width: 50%;
  left: 20%;
  top: 70%;
  overflow: hidden;
}

.news {
  width: 100%;
  padding-top: 5%;
}

button {
  font-size: x-large;
  align-self: flex-end;
  margin-right: 2.5%;
}

.welc {
  text-align: end;
  font-style: italic;
  font-size: 19px;
  padding-right: 3%;
}

h4 {
  padding: 1.5%;
  font-size: 20px;
}

@media (max-width: 768px) {
  .custom-box {
    flex: row;
    width: 100%;
  }

  .icon {
    display: none;
  }

  .welcome {
    font-size: 17px;
  }

  .welc {
    font-size: 17px;
  }
/*
  .card {
    width: 400px;
    margin-left: 5%;
  }*/

  .container.textbox {
    width: 90%;
    padding: 5%;
  }

  .text {
    overflow: hidden;
    position: static;
  }

  .news {
    overflow: hidden;
    position: static;
  }

  .pic {
    display: none;
  }
}
