<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="custom-box d-flex flex-column align-self-start">
        <h1 class="align-self">Köszöntő</h1>
        <p class="align-self-start">
          Örömmel köszöntöm a Herman Ottó Kollégium virtuális lakójaként, és
          élményekben gazdag barangolást kívánok. 1972 március elején átadták az
          ország első, házaspárokat is fogadó diákotthont. 1989-ig a József
          Attila Tudományegyetem Természettudományi kar báziskollégiumaként,
          1999-ig három, majd ezután négy kar hallgatóinak helyet adó karközi
          kollégiumként működik. A diákotthon, a jó közösségi életnek
          köszönhetően 1974-ben kollégium lett, majd 1979-és 1984-ben „Kiváló
          Kollégium” címet adományozott az OFKB, 1999-ben pedig az „Év
          Kollégiuma” díjat nyerte. 1997-től bővölt a Fürj u.-i épülettel, ami
          ma már különálló kollégiumként működik. Itt kapott helyet a
          Társadalomtudományi Szakkollégium is. A Kollégiumi Bizottság
          létrehozta a Herman Ottó Diákegyesületet (HODIE), hogy a nehéz
          helyzetű, tehetséges hallgatókat támogassa, tudományos, szakmai,
          közösségteremtő, kulturális és sportprogramok szervezését elősegítse.
          Az öntevékeny csoportok, melyek biztosítják a színes, mozgalmas
          életteli kollégiumot, a seniorok felügyelete mellett végzik
          tevékenységüket. Nyáron szállodaként működünk, de helyet biztosítunk a
          terepgyakorlaton, vagy kutatásban résztvevő hallgatóknak is. A
          honlapunkon remélem minden információt megtalál, ha viszont kérdése,
          észrevétele lenne, megteheti email címen keresztül.
        </p>

        <p class="welc">Buzás Szilárd kollégium igazgató</p>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="d-flex flex-column align-self">
        <img src="\assets\img3.jpg" class="pic" />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="custom-box d-flex flex-column align-self-start">
        <img src="assets/img5.jpg" class="pic" />
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="custom-box lex-column align-self">
        <h1>Hírek</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sem
          ante, mattis a mattis ut, malesuada non nulla. Sed varius vel risus et
          tempor. Pellentesque feugiat aliquam metus, tincidunt facilisis justo
          eleifend quis. Donec laoreet elit sit amet tortor sodales, at tempus
          justo tristique. Vivamus ut tristique nibh. Aliquam aliquet enim
          vehicula pretium laoreet. Nulla a ex et sapien tempus consequat nec
          vel elit. Fusce id mi semper, pulvinar tortor et, molestie urna.
          Mauris eros ligula, feugiat nec molestie sed, facilisis at dui. In sit
          amet varius tellus, id ultricies lectus. Praesent venenatis ligula in
          sapien maximus, at sodales ex consectetur. Vestibulum eu lectus sit
          amet sem tristique sagittis. Fusce sed ex vulputate, feugiat ante
          vitae, feugiat nisl. Etiam at velit efficitur, pharetra purus nec,
          pharetra elit. In vestibulum dolor nec nunc imperdiet consectetur.
          Mauris ullamcorper quam a molestie lobortis. Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. Integer sem ante, mattis a mattis
          ut, malesuada non nulla. Sed varius vel risus et tempor. Pellentesque
          feugiat aliquam metus, tincidunt facilisis justo eleifend quis. Donec
          laoreet elit sit amet tortor sodales, at tempus justo tristique.
          Vivamus ut tristique nibh. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Integer sem ante, mattis a mattis ut, malesuada non
          nulla. Sed varius vel risus et tempor. Pellentesque feugiat aliquam
          metus, tincidunt facilisis justo eleifend quis. Donec laoreet elit sit
          amet tortor sodales, at tempus justo tristique. Vivamus ut tristique
          nibh. Aliquam aliquet enim vehicula pretium laoreet. Nulla a ex et
          sapien tempus consequat nec vel elit. Fusce id mi semper, pulvinar
          tortor et, molestie urna. Mauris eros ligula, feugiat nec molestie
          sed, facilisis at dui. In sit amet varius tellus, id ultricies lectus.
          Praesent venenatis ligula in sapien maximus, at sodales ex
          consectetur. Vestibulum eu lectus sit amet sem tristique sagittis.
          Fusce sed ex vulputate, feugiat ante vitae, feugiat nisl. Etiam at
          velit efficitur, pharetra purus nec, pharetra elit. In vestibulum
          dolor nec nunc imperdiet consectetur. Mauris ullamcorper quam a
          molestie lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Integer sem ante, mattis a mattis ut, malesuada non nulla. Sed
          varius vel risus et tempor. Pellentesque feugiat aliquam metus,
          tincidunt facilisis justo eleifend quis. Donec laoreet elit sit amet
          tortor sodales, at tempus justo tristique. Vivamus ut tristique nibh.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container textbox">
  <h1 class="align-self">Várólista</h1>
  <p>
    Kedves Hallgatók! Aki a rendes felvételi eljárásban nem nyert felvételt, de
    mégis szeretne a 2020/2021-as tanév folyamán a kollégiumunkban lakni,
    jelentkezhet VÁRÓLISTÁRA. Mindenképpen érdemes ezzel a lehetőséggel élni,
    hiszen a kollégiumokban - már félévkezdettől – folyamatos a mozgás
    (évhalasztások, külföldi ösztöndíjasok, kiköltözések, stb.) Várólistára
    jelentkezni a következő módon lehet:
  </p>
  <ol>
    <li>
      A kollégiumunk honlapjáról letöltöd és kinyomtatod a kollégiumi adatlapot
      és a nyilatkozatot.
    </li>
    <li>A nyomtatványokat hiánytalanul kitöltöd.</li>
    <li>A szükséges igazolásokat csatolod.</li>
    <li>
      A SZTE Herman Ottó Kollégium Igazgatóságán leadod, vagy bescannelve
      (fontos, hogy ne fénykép, hanem scannelt formátum legyen) elküldöd az
      adminisztracio@ohsh.u-szeged.hu címre.
    </li>
    <li>Amikor felvételt nyertél, e-mailben és telefonon értesítünk.</li>
  </ol>

  <ul>
    <li>Letölthető dokumentumok felsőbbéves hallgatóknak:</li>
    <li>Letölthető dokumentumok elsőéves hallgatóknak:</li>
  </ul>

  <p class="welc">Adatlap Nyilatkozat Adminisztrációért felelős senior</p>
</div>

<div class="container opinions">
  <div class="row justify-content-center">
    <div class="col-md-4 mb-3">
      <div class="custom-box d-flex flex-column align-items-center">
        <img src="assets/dummy.png" class="img-fluid prof-pic" />
        <h4>Teszt Elek</h4>
        <p class="align-self-start">
          {{ textdummy | showMoreLess : showMoredummy }}
          <a
            class="link-underline-dark"
            href="javascript:;"
            (click)="showMoredummy = !showMoredummy"
            >{{ !showMoredummy ? "Több" : "Kevesebb" }}</a
          >
        </p>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="custom-box d-flex flex-column align-items-center">
        <img src="assets/szakacs_reka.jpg" class="img-fluid prof-pic" />
        <h4>Szakács Réka</h4>
        <p class="align-self-start">
          {{ textszakacs | showMoreLess : showMoreszakacs }}
          <a
            class="link-underline-dark"
            href="javascript:;"
            (click)="showMoreszakacs = !showMoreszakacs"
            >{{ !showMoreszakacs ? "Több" : "Kevesebb" }}</a
          >
        </p>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="custom-box d-flex flex-column align-items-center">
        <img src="assets/urban_janos.jpg" class="img-fluid prof-pic" />
        <h4>Urbán János</h4>
        <p class="align-self-start">
          {{ texturban | showMoreLess : showMoreurban }}
          <a
            class="link-underline-dark"
            href="javascript:;"
            (click)="showMoreurban = !showMoreurban"
            >{{ !showMoreurban ? "Több" : "Kevesebb" }}</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
