<app-header></app-header>
<div class="main-container">
  <img src="\assets\img2.jpg" class="mainpic" />
  <div class="overlay-text">
    <img src="\assets\logo.png" height="500px" />
  </div>
  <div class="bottom-bar"></div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="custom-box d-flex flex-column align-self-start">
        <h1 class="subtitle">KEDVES LÁTOGATÓ!</h1>
        <p class="align-self-start welcome" style="margin-top: 5%">
          Örömmel köszöntjük a Szegedi Tudományegyetem Herman Ottó Kollégiumának
          virtuális otthonában!
        </p>
        <p class="welcome">
          Honlapunkon megismerkedhet kollégiumunk történetével, betekintést
          nyerhet a hallgatói közösség életébe, mindennapjaiba, tájékozódhat a
          kollégiumi felvételről, egyéb szolgáltatásokról,
          szálláslehetőségekről. Észrevételeivel, kérdéseivel forduljon hozzánk
          bizalommal a megadott elérhetőségek valamelyikén.
        </p>

        <p class="welc">Kollégium Vezetősége</p>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="d-flex flex-column">
        <h1 class="subtitle">MIT KERESEL?</h1>
        <div class="list-group">
          <a
            href="/about-college"
            class="list-group-item list-group-item-action"
            ><mat-icon class="icon"> manage_search</mat-icon>Kattints ide, ha
            szeretnél többet tudni a kollégium történetéről, arról hogy ki volt
            Herman Ottó, esetleg a volt igazgatóinkról!</a
          >
          <a href="/for-students" class="list-group-item list-group-item-action"
            ><mat-icon class="icon"> rule</mat-icon>Kattints ide, ha kollégista
            vagy és a szabályzatot keresed!</a
          >
          <a href="/about-a" class="list-group-item list-group-item-action"
            ><mat-icon class="icon"> apartment</mat-icon>Kattints ide, ha
            kollégiumot keresel és érdekel az "A" épületünk!</a
          >
          <a href="/about-b" class="list-group-item list-group-item-action"
            ><mat-icon class="icon"> villa</mat-icon>Kattints ide, ha
            kollégiumot keresel és érdekel a "B" épületünk!</a
          >
          <a
            href="/about-services"
            class="list-group-item list-group-item-action"
            ><mat-icon class="icon"> night_shelter</mat-icon>Kattints ide, ha
            lakást keresel még Szegeden vagy!</a
          >
          <a href="/questions" class="list-group-item list-group-item-action"
            ><mat-icon class="icon"> help</mat-icon>Kattints ide, ha nem tudod
            hol kell jelentkezned a kollégiumba, esetleg ha olyan kérdésed van
            amit már megválaszoltunk!</a
          >
          <a href="/guest" class="list-group-item list-group-item-action"
            ><mat-icon class="icon"> menu_book</mat-icon>Kattints ide, ha
            szeretnéd elmondani nekünk a véleményed!</a
          >
          <a href="/contact" class="list-group-item list-group-item-action"
            ><mat-icon class="icon"> chat</mat-icon>Kattints ide, ha felvennéd
            velünk a kapcsolatot, vagy nem találsz minket! Linktárunk is
            segíthet a Szegeddel való ismerkedésben!</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="subtitle">VÁRÓLISTA INFORMÁCIÓK</h1>
  <p>
    Kedves Hallgatók! Aki a rendes felvételi eljárásban nem nyert felvételt, de
    mégis szeretne a kollégiumunkban lakni, jelentkezhet VÁRÓLISTÁRA.
    Mindenképpen érdemes ezzel a lehetőséggel élni, hiszen a kollégiumokban -
    már félévkezdettől – folyamatos a mozgás (évhalasztások, külföldi
    ösztöndíjasok, kiköltözések, stb.) Várólistára jelentkezni a következő módon
    lehet:
  </p>
  <ol>
    <li>
      A kollégiumunk honlapjáról letöltöd és kinyomtatod a kollégiumi adatlapot
      és a nyilatkozatot.
    </li>
    <li>A nyomtatványokat hiánytalanul kitöltöd.</li>
    <li>A szükséges igazolásokat csatolod.</li>
    <li>
      A SZTE Herman Ottó Kollégium Igazgatóságán leadod, vagy bescannelve
      (fontos, hogy ne fénykép, hanem scannelt formátum legyen) elküldöd az
      adminisztracio@ohsh.u-szeged.hu címre.
    </li>
    <li>Amikor felvételt nyertél, e-mailben és telefonon értesítünk.</li>
  </ol>
  <p>Letölthető dokumentumok felsőbbéves hallgatóknak:</p>
  <ul>
    <li>
      <a href="/assets/Felsos_adatlap.pdf" download="felsos_adatlap.pdf"
        >adatlap letöltése</a
      >
    </li>
    <li>
      <a href="/assets/Nyilatkozat.pdf" download="felsos_nyilatkozat.pdf"
        >nyilatkozat letöltése</a
      >
    </li>
  </ul>
  <p>Letölthető dokumentumok elsőéves hallgatóknak:</p>
  <ul>
    <li>
      <a href="/assets/Elsos_adatlap.pdf" download="elsos_adatlap.pdf"
        >adatlap letöltése</a
      >
    </li>
    <li>
      <a href="/assets/Nyilatkozat_elsos.pdf" download="elsos_nyilatkozat.pdf"
        >nyilatkozat letöltése</a
      >
    </li>
  </ul>

  <p class="welc">Adatlap Nyilatkozat Adminisztrációért felelős senior</p>
</div>

<div class="container">
  <h1 class="subtitle">KOLLÉGISTÁINK VÉLEMÉNYEI</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 align-items-center">
        <img src="assets/w.jpg" class="card-img-top" height="80px" />
        <img src="assets/urban_janos.jpg" class="img-fluid prof-pic" />
        <div class="card-body">
          <h5 class="card-title">Urbán János</h5>
          <p class="card-text">
            {{ texturban }}
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 align-items-center">
        <img
          src="assets/w.jpg"
          class="card-img-top"
          alt="Palm Springs Road"
          height="80px"
        />
        <img src="assets/szakacs_reka.jpg" class="img-fluid prof-pic" />
        <div class="card-body">
          <h5 class="card-title">Szakács Réka</h5>
          <p class="card-text">
            {{ textszakacs }}
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 align-items-center">
        <img
          src="assets/w.jpg"
          class="card-img-top"
          alt="Palm Springs Road"
          height="80px"
        />
        <img src="assets/zalan.jpg" class="prof-pic" />
        <div class="card-body">
          <h5 class="card-title">Máté Zalán</h5>
          <p class="card-text">
            {{ textzalan }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
