.prof-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -15%;
}
.container {
  margin-top: 2.5%;
}
ul {
  list-style-type: none;
}

.card-title {
  text-align: center;
}

li {
  padding: 2%;
}
.news {
  font-size: large;
  position: relative;
  width: 65%;
  left: 20%;
  top: 60%;
  z-index: 1;
  overflow: hidden;
}

.main-container {
  position: relative;
  width: 100%; /* A tartóelem teljes szélességét elfoglalja */
  max-width: 100%; /* A tartóelem szélességét igazítja a képhez */
}
.main-container .mainpic {
  width: 100%;
  height: 700px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10%;
}

.overlay-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px; /* Opcionális belső tér a szöveg körül */
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: large;
  z-index: 2;
}

.bottom-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Áttetsző háttérszín, itt az rgba színformátumot használjuk a szín átlátszóságának beállításához */
  z-index: 1; /* A réteg a háttér alatt van */
}

.overlay-text p {
  color: white;
  font-size: 60px;
  white-space: nowrap;
  margin: 0; /* Ellenőrzi a bekezdés alapértelmezett marginját */
}

.image-container {
  position: relative;
}

.icon {
  margin-right: 2.5%;
  color: #095256;
  transform: scale(1.25);
  margin-left: -3%;
}

.goto {
  margin-left: 2%;
  text-decoration: none;
  color: #095256;
  transform: scale(1.25);
}

.pic-subtitle {
  color: black;
  padding: 25px;
  text-align: left;
  width: fit-content;
  margin-left: 60%;
  display: inline-block;
  font-size: 20px;
  white-space: nowrap;
  font-style: italic;
  font-weight: lighter;
}

.pic {
  margin-top: 5%;
  width: 100%; /* A kép teljes szélessége */
  height: auto; /* Automatikus magasság beállítása a képarány megtartása érdekében */
  border-radius: 10px;
}

.text-wrapper {
  padding: 20px; /* Opcionális: a szöveg körüli tér beállítása */
  margin-left: 10px; /* Opcionális: a szöveg távolságának beállítása a képtől */
}

.waitlist {
  font-size: large;
  position: relative;
  align-self: flex-end;
  width: 50%;
  left: 20%;
  top: 70%;
  overflow: hidden;
}

.news {
  width: 100%;
  padding-top: 5%;
}

button {
  font-size: x-large;
  align-self: flex-end;
  margin-right: 2.5%;
}

.welc {
  text-align: end;
  font-style: italic;
}

h4 {
  padding: 1.5%;
  font-size: 20px;
}

@media (max-width: 600px) {
  .custom-box {
    flex: row;
    width: 100%;
  }

  .container.textbox {
    width: 90%;
    padding: 5%;
  }

  .container {
    padding: 0px;
    width: 90%;
    margin-bottom: 5px;
  }

  .text {
    overflow: hidden;
    position: static;
  }

  .news {
    overflow: hidden;
    position: static;
  }

  .pic {
    display: none;
  }
}
