<h2>Regisztráció</h2>
<div class="registration-form">
  <mat-form-field appearance="outline" class="form-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="hermanotto@gmail.com" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-full-width">
    <mat-label>Felhasználónév</mat-label>
    <input matInput placeholder="herman_otto" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-full-width">
    <mat-label>Jelszó</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Jelszó elrejtése'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-full-width">
    <mat-label>Jelszó megerősítése</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Jelszó elrejtése'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-full-width">
    <mat-label>Vezetéknév</mat-label>
    <input matInput placeholder="Herman" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-full-width">
    <mat-label>Keresztnév</mat-label>
    <input matInput placeholder="Ottó" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-full-width">
    <mat-label>Neptun kód</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-full-width">
    <mat-label>Épület</mat-label>
    <mat-select>
      <mat-option value="one">A épület</mat-option>
      <mat-option value="two">B épület</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-full-width">
    <mat-label>Szobaszám</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-full-width">
    <mat-label>Facebook</mat-label>
    <input matInput />
  </mat-form-field>
  <div class="button-container">
    <button mat-fab extended color="primary">Regisztráció</button>
  </div>
</div>
