.mat-toolbar {
  /* background-color: rgb(48, 164, 115);*/
  background-color: #05152c;
  color: white;
  font-size: 18px;
  top: 0;
  z-index: 100;
  margin-bottom: 2%;
}

.mat-toolbar a {
  text-decoration: none;
}
.custom-button {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* Mobil nézet: menü ikon */
.menu-icon {
  display: none; /* Alapértelmezésben nem jelenik meg */
}

/* Normál nézet: menüfülek */
.menu-items {
  display: flex;
}

/* Media query a mobil nézethez */
@media (max-width: 600px) {
  /* Mobil nézet: menü ikon */
  .menu-icon {
    display: block; /* Megjelenik a menü ikon */
  }

  /* Normál nézet: menüfülek */
  .menu-items {
    display: none; /* Nem jelenik meg a menüfülek */
  }
}

.button-container {
  display: flex;
  justify-content: center; /* Középre igazítás vízszintesen */
  gap: 10px; /* Távolság a gombok között */
}
