<mat-toolbar>
  <img src="assets/icon.png" />

  <!-- Mobil nézet: megjelenik egy menü ikon -->
  <div class="menu-icon" (click)="toggleMenu()">
    <button mat-button>
      <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
    </button>
  </div>

  <!-- Menüfülek a mobil nézethez -->
  <ul
    class="menu-items-mobile d-flex"
    *ngIf="isMenuOpen"
    [class.is-open]="isMenuOpen"
    (click)="closeMenu()"
  >
    <li class="d-flex" *ngFor="let item of menuItems">
      <a mat-button [routerLink]="item.link">{{ item.title }}</a>
    </li>
    <li class="button-mobile">
      <div class="ms-auto button-container">
        <button mat-icon-button matTooltip="Basic" (click)="openLogin()">
          <span class="material-icons login-button"> login </span>
        </button>
        <button mat-icon-button matTooltip="Basic" (click)="openRegist()">
          <span class="material-icons"> person </span>
        </button>
      </div>
    </li>
  </ul>

  <!-- Normál nézet: látható menüfülek -->
  <div class="menu-items">
    <a *ngFor="let item of menuItems" mat-button [routerLink]="item.link">{{
      item.title
    }}</a>
  </div>

  <!--Gombok-->
  <div class="ms-auto button-container buttons">
    <button mat-icon-button matTooltip="Basic" (click)="openLogin()">
      <span class="material-icons login-button"> login </span>
    </button>
    <button mat-icon-button matTooltip="Basic" (click)="openRegist()">
      <span class="material-icons"> person </span>
    </button>
  </div>
</mat-toolbar>
