.mat-toolbar {
  background-color: #095256f3;
  color: white;
  font-size: 18px;
  top: 0;
  z-index: 100;
  font-weight: lighter;
  position: sticky;
}

.mat-toolbar a {
  text-decoration: none;
}

.custom-button {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center; /* Középre igazítás vízszintesen */
  gap: 5px; /* Távolság a gombok között */
}

/* Mobil nézet: menü ikon */
.menu-icon {
  display: none; /* Alapértelmezésben nem jelenik meg */
}

/* Normál nézet: menüfülek */
.menu-items {
  display: flex;
  padding-left: 1%;
  gap: 20px;
}

/* Mobil nézet: menüfülek */

.button-mobile {
  border: none;
}

.menu-items-mobile {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

li {
  padding: 5%;
  margin-left: 1%;
}

.link {
  text-decoration: none;
}

/* Media query a mobil nézethez */
@media (max-width: 600px) {
  /* Mobil nézet: menü ikon */
  .menu-icon {
    display: flex;
    padding-left: 35%;
  }

  /* Menüfülek a mobil nézethez */
  .menu-items-mobile {
    display: flex;
    /* Alapértelmezésben ne jelenjenek meg */
  }

  .menu-items {
    display: none;
    /* A normál nézetben jelenjenek meg a menüfülek */
  }

  .menu-icon.is-open .menu-items-mobile {
    display: flex;
  }

  .menu-icon.is-open .menu-items {
    display: none;
  }

  .button-container {
    display: none;
  }

  .mat-toolbar {
    background-color: #095256;
  }
}
