<mat-toolbar>
  <img src="assets/icon.png" height="70px" />
  <img src="assets/hermanottokollegium.png" height="60px" />

  <!-- Mobil nézet: megjelenik egy menü ikon -->
  <div class="menu-icon">
    <button mat-button [matMenuTriggerFor]="beforeMenu">
      <i class="material-icons">menu</i>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <ul class="menu-items-mobile d-flex">
        <li class="d-flex" *ngFor="let item of menuItems">
          <a class="link" mat-button [routerLink]="item.link">{{
            item.title
          }}</a>
        </li>
      </ul>
    </mat-menu>
  </div>

  <!-- Normál nézet: látható menüfülek -->
  <div class="menu-items">
    <a *ngFor="let item of menuItems" mat-button [routerLink]="item.link">{{
      item.title
    }}</a>
  </div>

  <!--Gombok-->
  <div class="ms-auto button-container buttons">
    <button mat-icon-button matTooltip="Basic" (click)="openLogin()">
      <span class="material-icons login-button"> login </span>
    </button>
    <button mat-icon-button matTooltip="Basic" (click)="openRegist()">
      <span class="material-icons"> person </span>
    </button>
  </div>
</mat-toolbar>
