<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="custom-box d-flex flex-column align-self-start">
        <p>
          A lakószobákban 3 ágy, íróasztal, polcok, beépített szekrények,
          mosdókagyló és székek találhatók. Az ágynemű és a rendszeres
          ágyneműcsere a kollégiumi díjba foglalt szolgáltatások körébe
          tartozik. A első 5 emeleten kapnak elhelyezést a lányok, a felső négy
          emeleten pedig a fiúk. A lányszobák internet és kábeltévé ellátottsága
          50%-os, a fiú szinteken ugyanez 90 %.A szobákban hűtőszekrény nem
          található,csak a folyósókon. Három szobára jut egy nagy, mélyhűtő
          rekesszel is ellátott hűtőszekrény. A folyósokra dohányzó asztalt,
          székeket helyeztek el. Az épület egészében tilos a dohányzás, kivéve a
          dohányzásra kijelölt helyeket.
        </p>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="d-flex flex-column">
        <app-slideshow></app-slideshow>
      </div>
    </div>
  </div>
</div>
