<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="custom-box d-flex flex-column align-self-start">
        <h1 class="subtitle">SZOBÁK ÉS KÖZÖS HELYSÉGEK</h1>
        <p>
          A "A" épületben összesen 270 férőhely található. A szobák három
          személyesek és 18 m2-esek. Minden szoba rendelkezik íróasztallal,
          székekkel, beépített szekrényekkel, ágyakkal, polcokkal, hálózati
          végponttal, éjjeli lámpával és mosdókagylóval. Az ágynemű és a
          rendszeres ágyneműcsere a kollégiumi díjba foglalt szolgáltatások
          körébe tartozik. Az első 5 emeleten kapnak elhelyezést a lányok, a
          felső négy emeleten pedig a fiúk. A szobákban hűtőszekrény nem
          található, csak a folyósókon. Három szobára jut egy nagy, mélyhűtő
          rekesszel is ellátott hűtőszekrény. A folyósokra dohányzó asztalt,
          székeket helyeztek el. Az épület egészében tilos a dohányzás, kivéve a
          dohányzásra kijelölt helyeket. Minden szinten 12 szoba található.
          Minden páros szinten található egy konyha, melyben egy tűzhely, 3
          főzőlap, egy asztal és 16 darab az edények tárolására szolgáló zárható
          szekrény biztosítja a kényelmes főzést. A páratlan lakószinteken
          mosógép található, melyek mindegyike térítésmentesen, a diákigazolvány
          leadását követően használható. A folyosófelelősöknél igénybe vehető
          vasaló, vasalódeszka, ruhaszárító, hajszárító.
        </p>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="d-flex flex-column">
        <app-slideshow [images]="firstSlideshowImages"></app-slideshow>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="custom-box d-flex flex-column align-self-start">
        <app-slideshow [images]="secondSlideshowImages"></app-slideshow>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="d-flex flex-column">
        <h1 class="subtitle">VENDÉGFOGADÁS ÉS KÖZÖSSÉGI ESEMÉNYEK</h1>
        <p>
          A kollégiumban 24 órás portaszolgálat működik, minden lakó kap
          fényképes belépőkártyát. Vendéget is lehet fogadni a kollégiumban, a
          teendő csupán annyi, hogy egy bentlakónak fogadnia kell a vendéget a
          portán. Ehhez arcképes igazolványra lesz szüksége a vendégnek. Az
          épületben reggel 8-22 óra között történhet vendégfogadás, ezen az időn
          kívül kérvényt kell írni, ha a vendéget éjszakára is fogadnád. Az
          épület az Erzsébet liget előtt található, ahol futópálya, szabadidő
          park, kosár- és deszkapálya is megtalálható. A kollégiumhoz műfüves
          pálya is tartozik, ahol rendszeresen rendeznek röplabda és foci
          meccseket. A kilencedik emeleten egy klubszoba és egy tanulószoba
          található. Az első emeleten könyvtár és folyóiratolvasó, míg a
          földszinten társalgó várja a lakókat saját rendezvények tartására.
          Kollégisták számára kivehetőek könyvek, társasjátékok. Szabadidős
          programokat heti szinten szerveznek, például filmes estek, teaház,
          társas est, anime klub, foci és röplabda. A kollégiumon belül van
          konditerem, amelyet minden lakó használhat diákigazolvány leadása
          után. Emellett kölcsönözhetőek könyvek, társasjátékok, biciklik és
          sporteszközök.
        </p>
      </div>
    </div>
  </div>
</div>
